.group textarea:focus,
input:focus {
    outline: none;
}

.group .errorMsg {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
    width: 100%;
}